.login-form{
    height: 96vh;
}
.fontofFandooNotesApplication{
    font-size: 22px;
    font-style: normal;
    color: midnightblue;
    font-weight: 600;
}
.fontofSignin{
    color: orangered;
    font-size: 20px;
    font-style: inherit;
    font-weight: 300;
}