.opacity{
    opacity: 0.54;
}

.height_of_keep_image{
    height: 27px;
}

.mat_card{
    border-radius: 8px;
    width: 480px;
    height: 15px;
    padding:15px;
}

.search_box{
    width: 400px;
    height:10px;
    border: none;
    outline-color: white;
}