
//:host ::ng-deep .mat-form-field-flex {
//    width: 280px;
//}

.my-class{
    width: 200%!important;
    min-width: unset!important;
}

// .example-button-row button,
// .example-button-row a {
//   margin-right: 26px;
// }

.button-width{
  width: 120px;
}