 <div class="Basic-Form-Height" fxLayout="column" fxLayoutAlign="center center">
 <mat-card >
   <!-- <form> -->
    <!-- <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle fxFlex="50" value="bold" >SignIN</mat-button-toggle>
        <mat-button-toggle fxFlex="50" value="italic" >SignUp</mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->

    <div>
      <a class="button-width" mat-flat-button routerLink="/signin">SignIn</a>
      <a class="button-width" mat-flat-button routerLink="/signup">SignUp</a>
    </div>

<div fxLayout="column" fxLayoutAlign="center center">   
    <mat-form-field appearance="legacy" >
      <mat-label >Email</mat-label>
      <input matInput placeholder="example@gmail.com" [(ngModel)]='email'>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label >Password</mat-label>
      <input matInput placeholder="****" [(ngModel)]='password'>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
</div> 

<div fxLayoutAlign="space-evenly" fxLayout="column" fxLayoutGap="10px">
  <mat-checkbox>Remember me!</mat-checkbox>

  <button mat-stroked-button (click)='onSignIn()'> signIn </button>

  <button mat-stroked-button> LogIn with Google </button>

</div>

<!-- </form> -->
</mat-card>
</div>