<div class="login-form" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxFlex="35" fxFlex.xs="100">
      <div fxLayout="column" fxLayoutGap="11px" fxLayoutAlign="center center">
        <div class="fontofFandooNotesApplication" fxLayoutAlign="center center">FandooNotesApplication</div>
        <div class="fontofSignin" fxLayoutAlign="center center">Reset Your Password</div>
      </div>
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" [formControl]="confirm" required>
          <mat-error *ngIf="password.invalid">{{getConfirmErrorMessage()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end center">
        <button mat-button mat-raised-button color="primary" (click)="onResetPassword()">ResetPassword</button>
      </div>
    </mat-card>
  </div>